#castContent .cardScalable {
  width: 3.8cm !important;
  height: 3.8cm !important;
  border-radius: 50%;
}

#castContent .cardOverlayContainer.itemAction {
  border-radius: 50%;
}

#castContent .cardOverlayButton-br {
  bottom: 4%;
  right: 15%;
  width: 70%;
}

#castContent .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light {
  margin: auto;
}

.cardPadder {
  background-color: transparent !important;
}
