#castContent .personCard {
  width: 4.2cm !important;
  font-size: 90% !important;
}

#castContent .cardImageContainer,
#castContent .cardImageContainer.defaultCardBackground {
  background-size: cover !important;
  border-radius: 50%;
}
