.adminDrawerLogo img { 
  content: url(https://i.postimg.cc/X7vJf9Vm/banner-light.png) !important; 
}

.imgLogoIcon { 
  content: url(https://i.postimg.cc/X7vJf9Vm/banner-light.png) !important; 
}

.pageTitleWithLogo { 
  background-image: url(https://i.postimg.cc/X7vJf9Vm/banner-light.png) !important; 
}

.sectionTabs {
 display: none;
}
