@media (max-width: 768px) {
  .card:hover {
    transform: scale(1.02) !important;
  }
  
  #castContent .personCard {
    width: 3.2cm !important;
  }

  .splashLogo {
	background-image: url(https://i.postimg.cc/X7vJf9Vm/banner-light.png) !important;
  }
  
  #castContent .cardScalable {
    width: 2.8cm !important;
    height: 2.8cm !important;
  }
}
